<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="row">
      <div class="col-lg-6">
      <table>
        <tr>
          <th>item id</th>
          <th>Category</th>
          <th>Description</th>
          <th>Color</th>
          <th>Initial Quantity</th>
          <th>Q Sold</th>
          <th>Q Added</th>
          <th>Q Remaining</th>
        </tr>

        <tr>
          <% @items.each do |item| %>
            <td><%= item.id %></td>
            <td><%= item.category %></td>
            <td><%= item.description %></td>
            <td><%= item.color %></td>
            <td><%= item.quantity %></td>
            <td><%= item.quantity_sold %></td>
            <td><%= item.quantity_added %></td>
            <td><%= item.quantity + item.quantity_added - item.quantity_sold %></td>
        </tr>
      </table>
    </div>
        <div class="col-lg-4">
          <%= form_for item do |f| %>
            <%= f.label :quantity_sold %>
            <%= f.number_field :quantity_sold, :value => 0 %>
            <%= f.label :quantity_added  %>
            <%= f.number_field :quantity_added, :value => 0 %><br>
            <%= f.submit "Update" %>
          <% end %>
        </div>

      <% end %>
    </div>





  </body>
</html>
