<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @items.each do |item| %>
      <%= item.category %><br>
      <%= item.description %><br>
      <%= item.color %><br>
      <%= item.quantity %><br>
      <%= item.quantity_sold %><br>
      <%= item.quantity_added %><br>

      <%= form_for item do |f| %>
      amount sold:  <%= f.number_field :quantity_sold %><br>
      amount added:  <%= f.number_field :quantity_added %>
        <%= f.submit "Update" %>
      <% end %>


    <% end %>


  </body>
</html>
