<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <% if current_user.try(:admin?) %>
      <%= link_to '<button>Add To Catalogue</button>'.html_safe, new_clothing_path %><br>
    <% end %>


    <% @clothings.each do |clothing| %>
      <% if clothing.quantity %>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle" >
            <div class="item-pic"><%= link_to image_tag(clothing.images_urls[0].to_s), clothing_path(clothing.id) %></div><br>
            <div class="item-info">
              <span class="item-description"><%= clothing.description %> </span><br>
              <% if clothing.price_old %>
               <span class="old-price">
                    $<%=  clothing.price_old %>
               </span>
             <% end %>
             <span class="item-price">$<%= clothing.price %></span>
            </div>
        </div>
      <% end %>
    <% end %>


  </body>
</html>
