
<li><%= @clothing.category %></li>
<li><%= @clothing.color %></li>
<li><%= @clothing.size%></li>
<li><%= @clothing.price %></li>
<li><%= @clothing.description %></li>
<li><%= @clothing.quantity %></li>
<li><%= image_tag @clothing.image_url.to_s %></li>

<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_clothing_path(@clothing) %>
  <%= link_to 'Delete', clothing_path(@clothing), method: :delete, data: {confirm: "Are you sure you want to delete this piece? This cannot be undone!"} %>
<% end %>
