<!DOCTYPE html>
<html>
  <head>
    <title>Mandelle</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans+Condensed:300" rel="stylesheet">


  <body>

    <div class="outer">


    <div class="container">

      <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="/home">M & Elle</a>
        <% unless  action_name == "show" || controller_name == 'admin' %>
          <input type="text" id="myInput" placeholder="Search..." class="filter-bar" >

        <% end %>


      </nav>

      <div class="row">
        <ul class="col-md-2 pull-left">
          <div class="navigation">

            <p>
              <% if current_user.try(:admin?) %>
                <%= link_to "Full Catalogue", clothings_path, id: "catalogue-title" %>
              <% end %>
            </p>

            <p>
              <%= link_to "Sale", "#", id: "sale-title" %>
            </p>

              <ul id="sale-options">

                <li><%= link_to 'BODYSUITS', fetch_items_path, :remote => true, :data => { :cat => 'Bodysuits', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'DRESSES', fetch_items_path, :remote => true, :data => { :cat => 'Dresses', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'JACKETS', fetch_items_path, :remote => true, :data => { :cat => 'Jackets', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'JEANS', fetch_items_path, :remote => true, :data => { :cat => 'Jeans', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'PANTS', fetch_items_path, :remote => true, :data => { :cat => 'Pants', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'JUMPSUITS', fetch_items_path, :remote => true, :data => { :cat => 'Jumpsuits', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'LEGGINGS', fetch_items_path, :remote => true, :data => { :cat => 'Leggings', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'OUTFITS', fetch_items_path, :remote => true, :data => { :cat => 'Outfits', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'SKIRTS', fetch_items_path, :remote => true, :data => { :cat => 'Skirts', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'TOPS', fetch_items_path, :remote => true, :data => { :cat => 'Tops', :sale => 'True' }, class: "sale-category" %></li>
                <li><%= link_to 'TRACKSUITS', fetch_items_path, :remote => true, :data => { :cat => 'Tracksuits', :sale => 'True' }, class: "sale-category" %></li>

              </ul>


              <p>
                <%= link_to "New Collection", "#", id: "new-collection-title" %>
              </p>

              <ul id="new-collection-options">
                <li><%= link_to 'BODYSUITS', fetch_items_path, :remote => true, :data => { :cat => 'Bodysuits', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'DRESSES', fetch_items_path, :remote => true, :data => { :cat => 'Dresses', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'JACKETS', fetch_items_path, :remote => true, :data => { :cat => 'Jackets', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'JEANS', fetch_items_path, :remote => true, :data => { :cat => 'Jeans', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'PANTS', fetch_items_path, :remote => true, :data => { :cat => 'Pants', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'JUMPSUITS', fetch_items_path, :remote => true, :data => { :cat => 'Jumpsuits', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'LEGGINGS', fetch_items_path, :remote => true, :data => { :cat => 'Leggings', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'OUTFITS', fetch_items_path, :remote => true, :data => { :cat => 'Outfits', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'SKIRTS', fetch_items_path, :remote => true, :data => { :cat => 'Skirts', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'TOPS', fetch_items_path, :remote => true, :data => { :cat => 'Tops', :sale => 'False' }, class: "sale-category" %></li>
                <li><%= link_to 'TRACKSUITS', fetch_items_path, :remote => true, :data => { :cat => 'Tracksuits', :sale => 'False' }, class: "sale-category" %></li>
              </ul>

              <p>
                <%= link_to "Contact Us", contact_path, id: "contact-us-title" %>
              </p>



          </div>
        </ul>

        <div class="admin-links">
          <% if current_user.try(:admin?) %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %><br>
            <%= link_to 'Administration', admins_path %>
          <% end %>
        </div>


          <div class="col-md-10 pull-right">
            <div class="main-content">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>

              <div class="page-content">
                <%= yield %>
              </div>

            </div>
          </div>

          </div>




            <div class="social-media">
              <div class="social-all">
                <h3 id="social-media-title" >Check us out on social edia</h3>
                <div class="social-media-icons">
                  <a id="instagram" href="https://www.instagram.com/m.and.elle/" target="_blank"><img src="/assets/instagram.png"></a>
                  <a id="facebook" href="https://www.facebook.com/quickoutfit/?ref=br_rs" target="_blank"><img src="/assets/facebook.png"></a>
                </div>
              </div>
              <hr>
              <div class="terms-of-service">
                <div class="col-lg-12">
                  <div class="col-md-8">
                    <a href="#">Terms of Service</a> | <a href="#">Privacy</a>
                  </div>
                  <div class="col-md-4">
                    <p class="muted pull-right">© 2018 M & ELLE. All rights reserved</p>
                  </div>
                </div>
              </div>
              <hr>
          </div>


        </div>
      </div>




  </body>
</html>
