<!DOCTYPE html>
<html>
  <head>
    <title>Mandelle</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans+Condensed:300" rel="stylesheet">


  <body>


    <div class="container">

      <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="/home">M & Elle</a>
        <% unless controller_name == "home" %>
          <input type="text" id="myInput" placeholder="Search...">
        <% end %>


      </nav>

      <div class="row">
        <ul class="col-md-2 pull-left">
          <div class="navigation">

            <p>
              <%= link_to "Full Catalogue", clothings_path, id: "catalogue-title" %>
            </p>

            <p>
              <%= link_to "Sale", "#", id: "sale-title" %>
            </p>

              <ul id="sale-options">

                <li><%= link_to 'BODYSUITS', '#', :remote => true, "data-type" => :json, id: "Bodysuits", class: "sale-category" %></li>
                <li><a href="#"  id="Dresses" class="sale-category">DRESSES</a></li>
                <li><a href="#"  id="Jackets" class="sale-category">JACKETS</a></li>
                <li><a href="#"  id="Jeans" class="sale-category">JEANS</a></li>
                <li><a href="#"  id="Pants" class="sale-category">PANTS</a></li>
                <li><a href="#"  id="Jumpsuits" class="sale-category">JUMPSUITS</a></li>
                <li><a href="#"  id="Leggings" class="sale-category">LEGGINGS</a></li>
                <li><a href="#"  id="Outfits" class="sale-category">OUTFITS</a></li>
                <li><a href="#"  id="Skirts" class="sale-category">SKIRTS</a></li>
                <li><a href="#"  id="Tops" class="sale-category">TOPS</a></li>
                <li><a href="#"  id="Tracksuits" class="sale-category">TRACKSUITS</a></li>
              </ul>


              <p>
                <%= link_to "New Collection", "#", id: "new-collection-title" %>
              </p>

              <ul id="new-collection-options">
                <li><a href="#">Bodysuits</a></li>
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Jackets</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Jumpsuits</a></li>
                <li><a href="#">Leggings</a></li>
                <li><a href="#">Outfits</a></li>
                <li><a href="#">Skirts</a></li>
                <li><a href="#">Tops</a></li>
                <li><a href="#">Tracksuits</a></li>
              </ul>

              <p>
                <%= link_to "Contact Us", contact_path, id: "contact-us-title" %>
              </p>



          </div>
        </ul>

        <div class="admin-links">
          <% if current_user.try(:admin?) %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %><br>
            <%= link_to 'Administration', admins_path %>
          <% end %>
        </div>


          <div class="col-md-10 pull-right">
            <div class="main-content">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
            </div>
          </div>

          </div>




            <div class="social-media">
              <div class="social-all">
                <h3 id="social-media-title" >Check us Out on Social Media</h3>
                <div class="social-media-icons">
                  <a id="instagram" href="https://www.instagram.com/m.and.elle/" target="_blank"><img src="/assets/instagram.png"></a>
                  <a id="facebook" href="https://www.facebook.com/quickoutfit/?ref=br_rs" target="_blank"><img src="/assets/facebook.png"></a>
                </div>
              </div>
              <hr>
              <div class="terms-of-service">
                <div class="col-lg-12">
                  <div class="col-md-8">
                    <a href="#">Terms of Service</a> | <a href="#">Privacy</a>
                  </div>
                  <div class="col-md-4">
                    <p class="muted pull-right">© 2018 M&ELLE. All rights reserved</p>
                  </div>
                </div>
              </div>
              <hr>
          </div>


        </div>





  </body>
</html>
